<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">
    <!--    debug="true" outputs logs for Logback itself -->
    <!--    scan="true" allows automatic reconfiguration each minute -->

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}\target\logs\apitesting.log</file>
        <!--   user.dir is the project directory (where from it was started)    -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${user.dir}\target\logs\apitesting_%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <maxFileSize>100KB</maxFileSize>
            <maxHistory>8</maxHistory>
            <totalSizeCap>2MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="separateFilesAppender" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>testname</Key>
            <DefaultValue>OtherTests</DefaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${testname}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${user.dir}\target\logs\${testname}.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <FileNamePattern>${user.dir}\target\logs\${testname}.%i.log</FileNamePattern>
                    <MinIndex>1</MinIndex>
                    <MaxIndex>100</MaxIndex>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>10MB</MaxFileSize>
                </triggeringPolicy>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender"/>
        <appender-ref ref="separateFilesAppender"/>
    </root>
</configuration>
